html{
   background-color: grey;
}


body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 ,
p,
a{
  font-family: sans-serif;
  font-weight: 600 !important;
}


.navbar{
    background-color: #2dcc9a;
}
.navbar-brand{
    color: #ffffff;
}

button.btn-success{
    background-color: #2ecb9a;
    border: 1px solid #2dcc1a;
    width: 100%;
    max-width: 340px;
}

button.btn-success:hover{
    background-color: #59c193;
}

.next-button{
    position: relative;
    top: 150px;
}

input.answer{
    height: 50px;
    border: 1px solid rgba(131, 137, 138, 0.3);
    border-radius: 5px;
    max-width: 100% !important;
    width: 65%;
    margin: 25px 25px;
}
.game-progress-container{
    border: 2px solid rgba(131, 137, 138, 0.3);
    border-radius: 5px;
}

img{
    position: relative;
    top: 150px;
    bottom-margine: 30px;
    max-height: 420px;
    max-width: 700px;
}
footer{
    position: relative;
    top: 200px;
    background-color: #2dcc9a;
}
.question-position{
    position: relative;
    top: 100px;
}
.fa-caret-right{
    position: relative;
    top: 2px;
    color: #ffffff;
    margin: 10px 10px;
}
.score-index{
    text-decoration: none;
}
.question-index{
    position: relative;
    top: 110px;
}
.ready-container{
    position: relative;
    top: 120px;
    width: 100%;
    height: 600px;
    margin: 0px auto;
    border-radius: 5px;
    background-color: rgba(45, 204, 154, 0.28);
}
.intro{
    position: relative;
    top: 150px;
    font-family: sans-serif;
    bottom:150px;
}

.alert-success {
    font-family: sans-serif;
    background-color: #dff0d8;
    border-color: #dff0d8;
    color: #3c763d;
    width: fit-content;
    margin: auto;
    max-width: 600px;
    top: 160px;

}

.alert-danger{
   font-family: sans-serif;
    background-color: #f2dede;
    border-color: #ffffff;
    color: #a94442;
    max-width: 600px;
    margin: auto;
    top: 160px;
    margin: auto;
}

.login-input{
    height: 50px;
    border: 1px solid rgba(131, 137, 138, 0.3);
    border-radius: 5px;
    max-width: 100% !important;
    width: 50%;
    margin: 25px 25px;
}
.welcome{
    position: relative;
    background-color: rgba(128, 128, 128, 0.28);
    padding: 25px;
    font-family: fantasy;
}
.welcome-para{
    position: relative;
    top: 100px;
}
.fa-gamepad{
    position: relative;
    top: 35px;
    font-size: 500%;
    color: #b900ff;
}
section .score-b{
    position: relative;
    bottom: 100px;

}
.play-button{
    margin: auto;
    margin-top: 55px;
    text-decoration: none;
}
.pusher{
    height: 300px;
}
.top-space{
    position: relative;
    top: 150px;
}

/*------ media Queries -------*/

.leaderboard-table td, .leaderboard-table th{
    padding: 0;
    vertical-align: middle;
    border-top: none;
}



/*------ media Queries -------/

@media (max-width: 768px) {
	.main-header {
	    width: 90%;
	}

	.display-3 {
	    font-size: 1.75rem;
	}
}

@media (max-width: 992px) {
	.main-header {
	    width: 60%;
	}

	.display-3 {
	    font-size: 3rem;
	}
}