{% extends 'base.html'%}

{% block content %}

<div class="container welcome">
    <div class="text-center">
    <form  action="{{ url_for('welcome') }}" class="form-class"  method="POST">
        <div class="container special">
        <input class="form-control-lg answer" type="text" name="username" id="question_index" value="enter username">
          <button type="submit" class="btn btn-success btn-lg rounded-pill block">Register to Start</button>
          </div>
     </form>
     </div>
   </div>
{% endblock %}

