{% extends 'base.html'%}

{% block content %}
<div class="container welcome">
<div class="ready-container text-center">
    
    <h3 style="font-weight:100;" >welcome,  {{username}} </h3>
    <h4 >Click the button below to start</h4>
    <br>
    <br>
 </div>
 <div class="container text-center form-container ">  
      <form  action="{{ url_for('game') }}" class="form-class" method="GET">
        <div class="container .spukie" style="top:300px;"> 
            <button type="submit" class="btn btn-success btn-lg rounded block"> Start Game</button>
            </div>
        </form>
      </div>
      <br>
      <br>
      <br>
</div> 

{% endblock %}    