{% extends 'base.html'%}

{% block content %}
<section class="section">
<div class="container welcome">

<div class="text-center">
    <br>
    <h2>You made!</h2>
    <br>
    <br>
      <h3>Excellent!! Now enter your *nickname to be added to the score board.</h3>
        <br>
          <br>
            <form  action="{{ url_for('score_board') }}" class="form-class"  method="POST">
          <div class="container special">
        <input class="form-control-lg answer" type="text" name="nickname" placeholder="enter nickname"> <button type="submit" class="btn btn-success btn-lg rounded-pill block">add to score board</button>
          </div>
     </form>
     </div>
 <!------------flash message--->     
{% with messages = get_flashed_messages(with_categories=true) %} 
{% for category, message in messages %}
    {% if category == 'error' %}
     <div class="messages alert text-center alert-danger" role="alert">
         <button type="button" class="fade close flash-button" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% else %}
        <div class="messages alert text-center alert-success" role="alert">
            <button type="button" class="fade close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
     <strong>Wonderful!</strong> {{ message }}
    </div>
   {% endif %} 
 {% endfor %}
{% endwith %}
   </div>
  </section>
{% endblock %}
